<div class="container">
  <h2>All Tasks Categories:</h2>
  <table [border]="1">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let taskCategory of taskCategoryList">
      <td>{{ taskCategory.categoryId }}</td>
      <td>{{ taskCategory.categoryName }}</td>
      <td>{{ taskCategory.categoryDescription }}</td>
      <td>
        <button (click)="delete(taskCategory)" class="delete" title="deleteTaskCategory"
                type="button">x
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br>
<div>
  <table>
    <tr>
      <td>
        <label for="new-categoryName">task name: </label>
      </td>
      <td>
        <input #categoryName id="new-categoryName" required/>
      </td>
    </tr>
    <tr>
      <td>
        <label for="new-categoryDescription">task description: </label>
      </td>
      <td>
        <input #categoryDescription id="new-categoryDescription" required/>
      </td>
    </tr>
    <tr>
      <td>

        <button
          (click)="add(categoryName.value, categoryDescription.value); categoryName.value='';categoryDescription.value=''"
          class="add-button"
          type="button">
          Add category
        </button>
      </td>
    </tr>
  </table>
</div>
